$primary-color: #2bbc8a;
$dark-bg: #313538;
$light-bg: #d7d7d7;

$light-text: #c9cacc;
$dark-text: #242424;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin tablet-portrait {
  @media screen and (min-width: 801px) and (max-width: 1170px) {
    @content;
  }
}
