nav {
  display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //align-items: flex-start;
  background: $dark-bg;
  color: $light-text;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.nav-links {
  position: absolute;
  background-color: $dark-bg;
  width: 100%;
  z-index: 10;

  transform: translateY(-100%);
  transition: transform ease 500ms;

  ul {
    margin: 1em;
    padding: 0;
    padding-top: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  li {
    text-align: center;
    a {
      text-decoration: none;
      color: $primary-color;
      padding: 1rem;
      display: block;
    }
  }
}

.nav-open {
  .nav-links {
    transform: translateX(0);
  }
}

.menu-button {
  position: absolute;
  cursor: pointer;
  top: 0.75rem;
  right: 1rem;
  width: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;

  .btn-line {
    height: 3px;
    width: 100%;
    background-color: $light-text;
  }
}

/*
@media screen and (min-width: 768px) {
  .nav-links ul {
    display: flex;
    flex-direction: row;
  }

  .menu-button {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
*/
