@import "config";
@import "menu";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

h1 {
  color: $primary-color;
}

header {
  height: 100vh;
}

.intro {
  margin: 0;
  text-align: center;
  position: relative;
  background: $dark-bg url(../img/computer-close-up.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  z-index: 1;

  h1 {
    padding-top: 30vh;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.4em;
  }
  h2 {
    font-size: 1.2em;
    color: $light-text;
  }
}

/* background image overlay */
.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.8);
  z-index: -1;
}

.portrait-img {
  display: block;
  width: 250px;
  text-align: center;
  margin: auto;
}

#knowledge,
#contact,
footer {
  margin: 0;
  padding: 1em;
  background: $dark-bg;
  color: $light-text;
}

footer {
  border-top: 1px solid $light-text;
  font-size: 0.9em;
  text-align: center;
}

#about,
#projects {
  margin: 0;
  padding: 1em;
  background: $light-bg;
  color: $dark-text;
}

@import "viewport/mobile";
